@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "Lena";
  font-display: swap;
  src: url("../fonts/Lena.woff") format("woff"), url("../fonts/Lena.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Marutya";
  font-display: swap;
  src: url("../fonts/Marutya.woff") format("woff"), url("../fonts/Marutya.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

#footer #footer_cont #footer_nav #footer_nav_list,
#content #go_up,
#content .prices.prices_solar .prices_cont,
#content .prices .prices_cont .prices_card .prices_card_text,
#content #reviews #reviews_cont .reviews_card,
#content #our_service #services .service_card,
#content #our_service #services,
#content .about_cont #about_us,
#header #header_inner #header_mid_block #title_logo,
#header #header_inner #header_navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu_burger #menu_burger_nav,
#footer #footer_cont,
#content .prices.prices_solar .prices_cont .prices_card .prices_card_text,
#content .prices .prices_cont .prices_card,
#header #header_inner #header_mid_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content #our_workers #workers_cont,
#header #header_inner #header_navbar #header_navbar_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  font-family: "lena";
  letter-spacing: 1px;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  background: #fff1f1;
  position: relative;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-thumb {
  background: #ffc7d1;
}

.total_cont {
  width: 1170px;
  margin: 0 auto;
}

#header {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 0.7s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  padding-bottom: 2rem;
}

#header #header_inner {
  width: 100%;
  padding-top: 3.1rem;
}

#header #header_inner #header_navbar {
  width: 80%;
  padding: 0 2rem;
  height: 4.3rem;
  margin: 0 auto;
  background: linear-gradient(90deg, transparent, rgba(95, 50, 50, 0.589), rgba(95, 50, 50, 0.589), rgba(95, 50, 50, 0.589), transparent);
}

#header #header_inner #header_navbar #header_navbar_list {
  width: 100%;
}

#header #header_inner #header_navbar #header_navbar_list li {
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

#header #header_inner #header_navbar #header_navbar_list li.active::after {
  left: 0px;
}

#header #header_inner #header_navbar #header_navbar_list li::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -100%;
  height: 2px;
  width: 100%;
  background: white;
  transition: left 0.2s ease-in-out;
}

#header #header_inner #header_navbar #header_navbar_list li:hover {
  cursor: pointer;
}

#header #header_inner #header_navbar #header_navbar_list li:hover::after {
  left: 0;
}

#header #header_inner #header_navbar #header_navbar_list .header_navbar_devider {
  display: block;
  height: 1.1rem;
  width: 1px;
  background: #fff4f6;
}

#header #header_inner #header_mid_block {
  width: 100%;
  background: rgba(0, 0, 0, 0.233);
  padding: 3rem;
  margin-top: 8rem;
}

#header #header_inner #header_mid_block #title_logo {
  width: 100%;
  margin-top: 50px;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid #ffc7d1;
}

#header #header_inner #header_mid_block #title_logo #header_logo {
  opacity: 80%;
  width: 6rem;
}

#header #header_inner #header_mid_block #title_logo #header_title {
  font-family: Marutya;
  font-size: 5rem;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

#header #header_inner #header_mid_block #title_header_cont {
  width: 100%;
}

#header #header_inner #header_mid_block #title_header_cont #title_header {
  color: white;
  text-align: center;
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#header #header_inner #header_mid_block #title_header_cont #title_header_desc {
  color: white;
  text-align: center;
  font-size: 1.7rem;
}

.category_card {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  background: rgba(194, 158, 164, 0.897);
}

.category_card .category_card_title {
  font-family: Marutya;
  font-weight: bold;
  letter-spacing: 2px;
  color: #242424;
  font-size: 3rem;
}

.category_card .category_card_desc {
  width: 80%;
  color: white;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 3px solid #fff4f6;
  margin: 0 auto;
}

.category_card .category_card_msg {
  color: #242424;
  font-size: 2.5rem;
  margin-top: 1rem;
}

#content {
  width: 100%;
}

#content .about_cont {
  width: 100%;
}

#content .about_cont #about_us {
  width: 100%;
  margin-top: 3rem;
  padding: 0 2rem;
}

#content .about_cont #about_us #about_img {
  width: 30%;
  padding-right: 1rem;
}

#content .about_cont #about_us #about_img img {
  width: 80%;
  float: right;
  border-radius: 50%;
}

#content .about_cont #about_us #about_desc {
  border-left: 2px solid #242424;
  width: 45%;
  color: #242424;
  padding-left: 1rem;
}

#content .about_cont #about_us #about_desc #about_desc_title {
  font-size: 3rem;
  font-family: Marutya;
  font-weight: bold;
  letter-spacing: 2px;
}

#content .about_cont #about_us #about_desc #about_desc_desc {
  font-size: 1.3rem;
  margin-top: 2rem;
}

#content .about_cont #about_us #about_desc #about_desc_btn {
  text-transform: uppercase;
  padding: 0.3rem 1.3rem;
  font-size: 1.1rem;
  border: 2px solid #242424;
  background: transparent;
  margin-top: 1rem;
  transition: background 0.3s ease-in-out;
}

#content .about_cont #about_us #about_desc #about_desc_btn:hover {
  background: #ffc7d1;
}

#content .about_cont #about_us #about_desc div {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

#content .about_cont #about_us #about_desc div img {
  width: 2rem;
}

#content .about_cont #about_us #about_desc div p {
  font-size: 1.5rem;
}

#content .about_cont #about_us #about_desc div p:hover {
  cursor: pointer;
}

#content #our_service {
  width: 100%;
  margin: 3rem 0 0;
  background-color: #fff1f1;
  background-size: cover;
  background-position: center;
}

#content #our_service #services {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 2rem 0;
}

#content #our_service #services .service_card {
  width: 20rem;
  min-height: 32rem;
  background: #ffc7d1;
  opacity: 60%;
  box-shadow: 5px 5px 5px #ffc7d1;
  transition: opacity 0.3s ease-in-out;
}

#content #our_service #services .service_card#service_maneq {
  background: url("../img/service_maneq.jpg");
  background-position: center;
  background-size: cover;
}

#content #our_service #services .service_card#service_solar {
  background: url("../img/service_solar.jpg");
  background-position: center;
  background-size: cover;
}

#content #our_service #services .service_card:hover {
  opacity: 100%;
  cursor: pointer;
}

#content #our_service #services .service_card:hover .service_name {
  opacity: 100%;
}

#content #our_service #services .service_card .service_name {
  padding: 1.5rem 2.3rem;
  background: rgba(0, 0, 0, 0.384);
  font-size: 2.5rem;
  color: white;
  font-family: Marutya;
  font-weight: bold;
  opacity: 0%;
  transition: opacity 0.6s ease-in-out;
}

#content #our_workers {
  width: 100%;
  padding-bottom: 70px;
  background: #fff;
  background-image: url("../img/workers_back.png");
  background-size: cover;
  background-position: center;
}

#content #our_workers .category_card {
  border-top: 3px solid #242424;
  background: transparent;
}

#content #our_workers .category_card .category_card_title {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background: linear-gradient(90deg, transparent, #fff, #fff, #fff, transparent);
}

#content #our_workers .category_card .category_card_desc {
  margin-bottom: 50px;
  width: 100%;
}

#content #our_workers #workers_cont {
  width: 100%;
  padding: 4rem 0;
}

#content #our_workers #workers_cont .workers_card {
  position: relative;
  width: 25%;
  height: 30rem;
  -webkit-animation: workers_card 3.6s cubic-bezier(0.43, 0.05, 0.64, 1.07) infinite;
          animation: workers_card 3.6s cubic-bezier(0.43, 0.05, 0.64, 1.07) infinite;
}

#content #our_workers #workers_cont .workers_card:hover {
  cursor: pointer;
}

#content #our_workers #workers_cont .workers_card:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

#content #our_workers #workers_cont .workers_card:nth-child(1) div {
  background-image: url("../img/workers1.png");
}

#content #our_workers #workers_cont .workers_card:nth-child(2) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

#content #our_workers #workers_cont .workers_card:nth-child(2) div {
  background-image: url("../img/workers2.png");
}

#content #our_workers #workers_cont .workers_card:nth-child(3) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

#content #our_workers #workers_cont .workers_card:nth-child(3) div {
  background-image: url("../img/workers3.png");
}

#content #our_workers #workers_cont .workers_card div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: box-shadow 0.3s ease-in-out;
}

#content #our_workers #workers_cont .workers_card div img {
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

#content #our_workers #workers_cont .workers_card div:hover img {
  opacity: 1;
}

#content #our_workers #workers_cont .workers_card p {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@-webkit-keyframes workers_card {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes workers_card {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}

#content #reviews {
  width: 100%;
}

#content #reviews #reviews_cont {
  width: 100%;
}

#content #reviews #reviews_cont .reviews_card {
  width: 80%;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  margin: 2rem 1rem;
  padding: 2rem 0;
  background: #fff;
  box-shadow: 10px 13px 2px #ffc7d1;
}

#content #reviews #reviews_cont .reviews_card .reviews_image {
  border-radius: 50%;
  width: 14rem;
  height: 14rem;
  border: 2px solid #ffc7d1;
}

#content #reviews #reviews_cont .reviews_card .reviews_text {
  width: 50%;
  text-align: center;
  font-size: 2rem;
  position: relative;
}

#content #reviews #reviews_cont .reviews_card .reviews_text::before {
  content: "❝";
  position: absolute;
  top: -40px;
  left: -10px;
  font-size: 3.5rem;
}

#content #reviews #reviews_cont .reviews_card .reviews_text::after {
  content: "❞";
  position: absolute;
  bottom: -60px;
  right: -10px;
  font-size: 3.5rem;
}

#content .photos .photos_cont {
  width: 100%;
  padding: 3rem 0;
}

#content .photos .photos_cont.photos_maneq {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-template-areas: "A A A A   B B B B   E E E E" "A A A A   B B B B   E E E E" "A A A A   B B B B   E E E E" "C C C C   B B B B   F F F F" "C C C C   D D D D   F F F F" "C C C C   D D D D   F F F F";
}

#content .photos .photos_cont.photos_maneq div {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

#content .photos .photos_cont.photos_maneq div:nth-child(1) {
  grid-area: A;
}

#content .photos .photos_cont.photos_maneq div:nth-child(2) {
  grid-area: B;
}

#content .photos .photos_cont.photos_maneq div:nth-child(3) {
  grid-area: C;
  background-position: top;
}

#content .photos .photos_cont.photos_maneq div:nth-child(4) {
  grid-area: D;
}

#content .photos .photos_cont.photos_maneq div:nth-child(5) {
  grid-area: E;
  background-position: top;
}

#content .photos .photos_cont.photos_maneq div:nth-child(6) {
  grid-area: F;
}

#content .photos .photos_cont.photos_solar {
  display: block;
}

#content .photos .photos_cont.photos_solar div {
  height: 25rem;
  margin: 0 2rem;
  background-position: center;
  background-size: cover;
}

#content .prices.prices_maneq .prices_cont {
  background-image: url("../img/maneq_prices_back.png");
}

#content .prices .prices_cont {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.651);
}

#content .prices .prices_cont .prices_card {
  width: 27rem;
  height: 20rem;
  background: #fff;
  margin: 3rem 2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.527);
  border-radius: 10px;
}

#content .prices .prices_cont .prices_card .prices_card_img {
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position: center;
}

#content .prices .prices_cont .prices_card .prices_card_text {
  height: 30%;
  font-size: 1.5rem;
  text-align: center;
}

#content .prices.prices_solar .prices_cont {
  background-image: url("../img/solar_prices_back.png");
}

#content .prices.prices_solar .prices_cont .prices_card {
  width: 24rem;
  height: 30rem;
}

#content .prices.prices_solar .prices_cont .prices_card .prices_card_img {
  height: 50%;
}

#content .prices.prices_solar .prices_cont .prices_card .prices_card_text {
  height: 50%;
}

#content #go_up {
  position: fixed;
  z-index: 200;
  right: 3rem;
  bottom: 4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #ffc7d1;
  transition: background 0.4s ease-in-out;
  box-shadow: 5px 5px 8px #7e7e7e;
}

#content #go_up:hover {
  cursor: pointer;
  background: #ff94a7;
}

#content #go_up img {
  width: 50%;
}

#our_geo {
  background: #fff1f1;
  background: url("../img/geo_pic_back.png");
  background-position: center;
  background-size: cover;
}

#our_geo .category_card {
  padding: 2rem 0;
  background: none;
  border-top: 6px solid #ffc7d1;
}

#our_geo #geo_cont {
  display: flex;
  min-height: 30rem;
  position: relative;
  background: #fff;
}

#our_geo #geo_cont #geo_pic {
  background-image: url("../img/geo_pic.png");
  background-position: center;
  background-size: cover;
  width: 60%;
}

#our_geo #geo_cont #geo_pic:hover {
  cursor: pointer;
}

#our_geo #geo_cont #geo_desc {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
}

#our_geo #geo_cont #geo_desc #geo_title {
  width: 100%;
  font-size: 2rem;
}

#our_geo #geo_cont #geo_desc #geo_title span {
  font-family: Marutya;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 4rem;
}

#our_geo #geo_cont #geo_desc #geo_desc {
  width: 100%;
  font-size: 1.8rem;
}

#our_geo #geo_cont #geo_desc #geo_number {
  width: 100%;
  font-size: 1.7rem;
}

#our_geo #geo_cont #geo_desc #geo_number a {
  text-decoration: none;
  color: #242424;
}

.smooth {
  transition: opacity 0.2s cubic-bezier(0.48, 0, 0.38, 0.77), transform 0.3s cubic-bezier(0.48, 0, 0.38, 0.77);
}

#footer {
  background: rgba(148, 117, 123, 0.897);
  padding: 2rem 0;
}

#footer #footer_cont #footer_title {
  font-size: 3rem;
  color: #242424;
  text-transform: capitalize;
  font-family: Marutya;
  border-bottom: 2px solid #ffc7d1;
  padding-bottom: 0.7rem;
}

#footer #footer_cont #footer_nav {
  margin: 1rem 0;
}

#footer #footer_cont #footer_nav #footer_nav_list {
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

#footer #footer_cont #footer_nav #footer_nav_list li {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  padding: 0.8rem;
}

#footer #footer_cont #footer_nav #footer_nav_list li img {
  width: 1.2rem;
}

#footer #footer_cont #footer_nav #footer_nav_list li::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -100%;
  height: 2px;
  width: 100%;
  background: white;
  transition: left 0.2s ease-in-out;
}

#footer #footer_cont #footer_nav #footer_nav_list li:hover {
  cursor: pointer;
}

#footer #footer_cont #footer_nav #footer_nav_list li:hover::after {
  left: 0;
}

#footer #footer_cont #footer_desc {
  width: 50%;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.5rem;
}

#burger_btn {
  display: none;
  width: 35px;
  position: fixed;
  top: 40px;
  left: 30px;
  z-index: 100;
  background: rgba(0, 0, 0, 0.322);
  padding: 4px;
  border-radius: 2px;
  transition: opacity 0.3s ease-in-out;
}

#burger_btn:hover {
  cursor: pointer;
}

#menu_burger {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(27, 14, 18, 0.719);
}

#menu_burger #menu_burger_nav {
  row-gap: 2.1rem;
  height: 100%;
}

#menu_burger #menu_burger_nav li {
  color: white;
  font-size: 2.2rem;
  text-transform: capitalize;
}

#menu_burger #menu_burger_nav li.active_burger {
  color: #ffc7d1;
}

#menu_burger #menu_burger_nav li img {
  width: 3rem;
}

#menu_burger #menu_burger_nav li:hover {
  cursor: pointer;
}

#menu_burger #menu_burger_nav .burger_navbar_devider {
  width: 0.6rem;
  height: 0.6rem;
  background: white;
  border-radius: 50%;
}

@media screen and (max-width: 1170px) {
  .total_cont {
    width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .total_cont {
    width: 768px;
  }

  #header #header_inner #header_navbar {
    width: 90%;
  }

  #content .about_cont #about_us {
    padding: 0;
  }

  #content .about_cont #about_us #about_img img {
    width: 100%;
  }

  #content .about_cont #about_us #about_desc {
    width: 60%;
  }

  #content #our_service #services .service_card {
    opacity: 100%;
  }

  #content #our_service #services .service_card .service_name {
    opacity: 100%;
  }

  #content #our_workers #workers_cont .workers_card {
    width: 30%;
  }

  #content #our_workers #workers_cont .workers_card:nth-child(1) div {
    background-position: top;
  }

  #content #our_workers #workers_cont .workers_card p {
    font-size: 1.2rem;
  }

  #content #reviews #reviews_cont .reviews_card {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }

  #content #reviews #reviews_cont .reviews_card .reviews_image {
    width: 10rem;
    height: 10rem;
  }

  #content #reviews #reviews_cont .reviews_card .reviews_text {
    font-size: 1.5rem;
    width: 60%;
  }

  #content #reviews #reviews_cont .reviews_card .reviews_text::before {
    position: absolute;
    top: -30px;
    left: -10px;
    font-size: 3rem;
  }

  #content #reviews #reviews_cont .reviews_card .reviews_text::after {
    position: absolute;
    bottom: -40px;
    right: -20px;
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }

  .total_cont {
    width: 576px;
    padding: 0 20px;
  }

  #header #header_inner #header_navbar {
    display: none;
  }

  #header #header_inner #header_mid_block {
    margin-top: 5rem;
    padding-top: 2rem;
  }

  #header #header_inner #header_mid_block #title_logo {
    flex-direction: column;
    row-gap: 30px;
  }

  .category_card .category_card_title {
    font-size: 3.5rem;
  }

  .category_card .category_card_desc {
    font-size: 3rem;
  }

  .category_card .category_card_msg {
    font-size: 2rem;
    padding: 0 1rem;
  }

  #content .about_cont #about_us #about_img {
    width: 40%;
    height: 100%;
  }

  #content .about_cont #about_us #about_desc #about_desc_title {
    font-size: 2rem;
  }

  #content #our_workers #workers_cont {
    flex-direction: column;
    row-gap: 2rem;
  }

  #content #our_workers #workers_cont .workers_card {
    width: 70%;
    height: 30rem;
    -webkit-animation: none;
            animation: none;
  }

  #content #our_workers #workers_cont .workers_card div img {
    opacity: 1;
  }

  #content #our_workers #workers_cont .workers_card p {
    font-size: 1.5rem;
  }

  #content #reviews #reviews_cont .reviews_card {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    width: 90%;
  }

  #content #reviews #reviews_cont .reviews_card .reviews_image {
    width: 8rem;
    height: 8rem;
  }

  #content #reviews #reviews_cont .reviews_card .reviews_text {
    font-size: 1.4rem;
    width: 55%;
  }

  #content #reviews #reviews_cont .reviews_card .reviews_text::before {
    position: absolute;
    top: -20px;
    left: -10px;
    font-size: 2.3rem;
  }

  #content #reviews #reviews_cont .reviews_card .reviews_text::after {
    position: absolute;
    bottom: -30px;
    right: -10px;
    font-size: 2.3rem;
  }

  #content .photos .photos_cont.photos_maneq {
    grid-template-columns: auto auto;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-areas: "A A A A   B B B B" "A A A A   B B B B" "A A A A   B B B B" "F F F F   E E E E" "F F F F   E E E E" "F F F F   D D D D" "C C C C   D D D D" "C C C C   D D D D" "C C C C   D D D D";
  }

  #our_geo #geo_cont {
    flex-direction: column;
  }

  #our_geo #geo_cont #geo_pic {
    width: 100%;
    height: 30rem;
  }

  #our_geo #geo_cont #geo_desc {
    width: 100%;
    padding: 1rem;
  }

  #footer #footer_cont #footer_nav #footer_nav_list {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }

  #footer #footer_cont #footer_desc {
    width: 80%;
  }

  #burger_btn {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 14px;
  }

  .total_cont {
    width: 100%;
    padding: 0 20px;
  }

  #header #header_inner #header_mid_block #title_logo #header_title {
    font-size: 4rem;
  }

  #header #header_inner #header_mid_block #title_header_cont #title_header {
    font-size: 3rem;
  }

  #content #our_service #services {
    flex-direction: column;
    row-gap: 2rem;
  }

  #content #our_service #services .service_card {
    width: 80%;
    min-height: 20rem;
    opacity: 100%;
  }

  #content #our_service #services .service_card .service_name {
    opacity: 100%;
  }

  #content #reviews #reviews_cont .reviews_card {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
    width: 100%;
    flex-direction: column;
    row-gap: 1rem;
  }

  #content #reviews #reviews_cont .reviews_card .reviews_image {
    width: 8rem;
    height: 8rem;
  }

  #content #reviews #reviews_cont .reviews_card .reviews_text::before {
    position: absolute;
    top: -20px;
    left: 0px;
    font-size: 2rem;
  }

  #content #reviews #reviews_cont .reviews_card .reviews_text::after {
    position: absolute;
    bottom: -30px;
    right: 0px;
    font-size: 2rem;
  }

  #content .photos .photos_cont.photos_maneq {
    grid-template-columns: auto;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-areas: "A A A A" "A A A A" "A A A A" "B B B B" "B B B B" "B B B B" "C C C C" "C C C C" "E E E E" "E E E E" "E E E E" "D D D D" "D D D D" "D D D D" "F F F F" "F F F F" "F F F F";
  }

  #content .photos .photos_cont.photos_solar div {
    margin: 0 0.5rem;
  }

  #content .prices .prices_cont .prices_card .prices_card_text {
    font-size: 1.3rem;
    font-weight: bold;
  }

  #content .prices .prices_cont .prices_card {
    margin: 3rem 1rem;
  }

  #content .prices.prices_solar .prices_cont {
    flex-direction: column;
  }

  #content #go_up {
    width: 3.5rem;
    height: 3.5rem;
  }
}